#b{
	background: #FFEFD5;
	//backgroud
	
}

.h{
	background:#ff4d4d;
	padding:10px;
	border:2px solid black;
	
}

.i{
	background:#DC143C;
	padding:10px;
	border:2px solid black;
	
}

#d{
	height:550px;
	width:450px;
	background:peachpuff;
	border:10px solid red;
	border-radius:20px;
	
}


#k{
	height:280px;
	width:300px;
	background:AQUAMARINE;
	border:10px solid TEAL;
	border-radius:20px;
}

.img{
	
	height:150px;
	width:200px;
	
	
}
#form{
	
	height:30px;
	width:400px;
	background:peachpuff;
	padding:5px;
	margin:5px;
	
	
}

#button{
	height:30px;
	width:400px;
	background:#ff3838;
	padding:5px;
	margin:5px;
	
}

#dash{
	height:30px;
	width:200px;
	background:#98FB98;
	padding:5px;
	margin:5px;
}

#check{
	height:30px;
	width:50px;
	background:#FF6347;
	padding:5px;
	margin:5px;
}

#log{
	height:30px;
	width:150px;
	background:#DC143C;
	padding:5px;
	margin:5px;
}

.m{
	border-bottom-style: height:30px;
	width:250px;
	background:#ADFF2F;
	padding:6px;
	border:2px solid black;
	border-style: dotted;
	border-radius:20px;
	
}


#g{
	background: #48D1CC;
	//backgroud
	
}

#h{
	height:550px;
	width:450px;
	background:springgreen;
	border:10px dotted lawngreen;
	border-radius:20px;
	
}

#u{
	height:30px;
	width:400px;
	background:#FFD700;
	padding:5px;
	margin:5px;
	
}

#e{
	height:550px;
	width:450px;
	background:seagreen;
	border:10px solid aqua;
	border-radius:20px;
	
}

#n{
	background: #FFEFD5;
	//backgroud
	
}


