#b{
	background: #FFEFD5;
	//backgroud
	
}

.h{
	background:#ff4d4d;
	padding:10px;
	border:2px solid black;
	
}

.i{
	background:#DC143C;
	padding:10px;
	border:2px solid black;
	
}

#d{
	height:550px;
	width:450px;
	background:peachpuff;
	border:10px solid red;
	border-radius:20px;
	
	
}


#k{
	height:280px;
	width:300px;
	background:greenyellow;
	border:10px solid red;
	border-radius:20px;

	
	
}

.img{
	
	height:150px;
	width:200px;
	
	
}
#form{
	
	height:30px;
	width:400px;
	background:white;
	padding:5px;
	margin:5px;
	
	
}

#button{
	height:30px;
	width:400px;
	background:#ff3838;
	padding:5px;
	margin:5px;
	
}

#dash{
	height:30px;
	width:200px;
	background:#A9A9A9;
	padding:5px;
	margin:5px;
	
}

#log{
	height:30px;
	width:150px;
	background:#FF0000;
	padding:5px;
	margin:5px;
	
}

.m{
	background:#00BFFF;
	padding:6px;
	border:2px solid black;
	border-style: dotted;
	
}